* {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
width: 100%;
border-radius: 5px;
}

.hero-video {
margin-top: 30px;
object-fit: cover;
object-position: center;
height: 850px;
width: 100%;
filter: contrast(65%);
border-radius: 3px;
}

.hero-overlay {
position: absolute;
text-align: center;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px 20px;
}

.hero-title {
font-size: 7rem;
color: whitesmoke;
padding-top: 50px;
width: max-content;
}

.hero-subtitle {
font-size: 2rem;
color:rgba(238, 223, 155, 0.849);
width: 100%;
padding-top: 100px;
word-spacing: 15px;
opacity: 80%;
}

