<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AssessmentWebsite_PoliticalCampaign</title> 

</head>
<body>

<!-- Hero Image -->



<!-- Links section -->
<section class="page-links">
  <div class="candidates-page-link">
    
  </div>
  <div class="contact-page-link">

  </div>
</section>

<!-- Footer -->

<section class="social-media">
  <div class="social-media-images">
    <a href="instagram.com"><img src="../static/1_Instagram_colored_svg_1-512.webp"  alt="Instagram logo"></a>
    <a href="x.com"><img src="../static/new-2023-twitter-logo-x-icon-design_1017-45418.avif"  alt="Twitter logo"></a>
    <a href="youtube.com"><img src="../static/Youtube_logo.png" alt="YouTube logo"></a>
  </div>
</section>

<!-- Settings -->



</body>
</html>