* {
box-sizing: border-box;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mySlides {
    display: none;
    position: relative;
}

img {
width: 100%;
border-radius: 5px;
}

/* Hero Video + Hero Text */

.hero-video {
object-fit: cover;
object-position: center;
height: 850px;
width: 100%;
filter: contrast(65%);
border-radius: 3px;
}

.hero-overlay {
position: absolute;
text-align: center;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px 20px;
}

.hero-title {
font-size: 6rem;
color: rgb(0, 0, 0);
padding-top: 50px;
width: max-content;
}

.hero-subtitle {
font-size: 2rem;
color:rgb(0, 0, 0);
width: 100%;
padding-top: 100px;
word-spacing: 15px;
opacity: 80%;
}

/*Candidate 1: John Smith */ 

.slideshow-container {
max-width: 1000px;
transform: translate(8px); 
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.text {
color: black;
background-color: white;
font-size: 30px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

.numbertext {
color: whitesmoke;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

.additional-text {
display: inline;
position: absolute;
margin-left: 15px;
width: 700px;
}


/* Fade for images in slideshow */


.fade {
animation-name: fade;
animation-duration: 2.0s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* Contact section/Footer */

.social-media {
    padding-top: 30px;
}

.social-media-images {
    width: 40px;
    margin: 0 10px;
}

/* Candidate 2: Mohammad Ali */

.info-grid {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    width: 100%;
    margin: auto;
    padding-right: 15px;
}

.kennedy-images {
    width: 100%;
    height: auto;
    max-width: 20.83vw; /* based on 400px from the original 400px width 1000px height*/
    max-height: 52.08vw;
    object-fit: cover;
    border-radius: 5px;
}

.kennedy-text {
    margin-left: -55px;
}

